section#home
    table(ng-controller="MainController")
        thead
            tr
                th Id
                th Stock
                th Shares
                th Price
        tbody
            tr(ng-repeat="s in orders")
                td {{s.id}}
                td {{s.stock}}
                td {{s.shares}}
                td {{s.price}}
        tfoot
            tr
                td(colspan=3) Orders: {{students.length}}