section#home(ng-controller="MainController")
    table
        thead
            tr
                th Id
                th Stock
                th Shares
                th Price
        tbody
            tr(ng-repeat="order in orders")
                td {{order.Id}}
                td {{order.stock}}
                td {{s.shares}}
                td {{s.price}}
        tfoot
            tr
                td(colspan=3) Orders: {{students.length}}
    h1 Stocks
    table
        thead
            tr
                th Id
                th Name
                th Shares
                th Price
        tbody
            tr(ng-repeat="stock in stocks")
                td {{stock.Id}}
                td {{stock.Name}}
        tfoot
            tr
                td(colspan=3) Orders: {{students.length}}