section
    form(ng-controller="FormRemoveAccountController", name="formAddStudentForm", novalidate)
        fieldset.default
            legend.hidden Remove account form
            div.combine
                label.default.top(for="student") Select an account
                select.default(ng-model="student", ng-options="s.id as s.id for s in orders")
                    option(value="") I would like to remove...
            div.combine
                button.default.blue(ng-click="removeAccount()") Submit