header#main-header
    nav
        ul
            li
                a(href="/orders-add") Add order
            li
                a(href="#") Edit order
            li
                a(href="#") Remove Order
            li
                a(href="#") Add a stock
            li
                a(href="#") Modify a stock
