doctype html
html(ng-app="finance")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        header
            nav
                ul#tabs
                    li
                        a(href="#/") Home
                    li
                        a(href="#/add") Add account
                    li
                        a(href="#/remove") Remove account
                    li
                        a(href="#/edit") Edit account
                    li
                        a(href="#/stock-add") Add stock
                    li
                        a(href="#/stock-edit") Edit stock
                    li
                        a(href="#/stock-remove") Remove stock
                    li
                        a(href="#/order-add") Create order
                    li
                        a(href="#/order-edit") Edit order
                    li
                        a(href="#/order-remove") Delete order
        block content
        footer
            div(pub-key="pub-c-02dee9ae-9627-4fb7-a486-a5cdf9df9749",sub-key="sub-c-04a5c868-0374-11e3-bde1-02ee2ddab7fe", ssl="off",origin="pubsub.pubnub.com", id="pubnub")
            script(src="http://cdn.pubnub.com/pubnub-3.5.3.min.js")
            h1 Listening for messages from Pubnub...
            textarea#messagesArea(style="width:300px; height:300px")
            script(src="javascripts/pubnub.js", type="text/javascript")
        include scripts