doctype html
html(ng-app="finance")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        header
            nav
                ul#tabs
                    li
                        a(href="#/") Home
                    li
                        a(href="#/add") Add account
                    li
                        a(href="#/remove") Remove account
                    li
                        a(href="#/edit") Edit account
                    li
                        a(href="#/stock-add") Add stock
                    li
                        a(href="#/stock-edit") Edit stock
                    li
                        a(href="#/stock-remove") Remove stock
                    li
                        a(href="#/order-add") Create order
                    li
                        a(href="#/order-edit") Edit order
                    li
                        a(href="#/order-remove") Delete order
        block content
        include scripts