extends layout
block content
    form
        fieldset.default
            legend.hidden
            div.combine
                input.default(type="text", name="date")
            div.combine
                select.default
                    option(value="") Choose a stock
            div.combine
                input.default(type="text", name="shares")
            div.combine
                input.default(type="text", name="")